In [1]:
#建立一個空的List
empty_list = []
empty_list

[]

In [2]:
weekdays = ['星期一','星期二','星期三','星期四','星期五','星期六','星期日',]
weekdays

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [3]:
print(weekdays[0])
print(weekdays[6])

星期一
星期日

In [4]:
for day in weekdays:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [6]:
for day in weekdays:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [7]:
weekdays_tuple = ('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')
print(weekdays_tuple[0])
print(weekdays_tuple[6])

星期一
星期日

In [8]:
for day in weekdays_tuple:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [9]:
weekdays_tuple

('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')

In [10]:
#list()
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list1 = ['H','e','l','l','o', 'W','o','r','l','d']
list1[-10]

'H'

In [12]:
#slice->取出局部的
#取出前面5個
print(list1[0:5])
print(list1[:5])

['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']

In [13]:
#取出後面5個
print(list1[-5:])

['W', 'o', 'r', 'l', 'd']

In [14]:
#更新資料
nums = [1, 2, 3]
nums[0] *= 10
nums[1] *= 10
nums[2] *= 10
print(nums)

[10, 20, 30]

In [15]:
#len()
#傳出元素數量
nums = [1, 2, 3]
for i in range(len(nums)):
    nums[i] *= 10
print(nums)

[10, 20, 30]

In [16]:
#tuple  不能更改所以會出錯
nums_tuple = (1, 2, 3)
nums_tuple[0] *= 10

TypeError: 'tuple' object does not support item assignment

In [17]:
#新增元素
data = list(range(10,1000,10))
receiveData = []

for item in data:
    if item % 25 == 0:
        receiveData.append(item)
receiveData

[50,
 100,
 150,
 200,
 250,
 300,
 350,
 400,
 450,
 500,
 550,
 600,
 650,
 700,
 750,
 800,
 850,
 900,
 950]

In [18]:
#新增元素
data = list(range(10,1000,10))
receiveData = []

for item in data:
    if item % 25 == 0:
        receiveData.append(item)
receiveData.__class__

list

In [19]:
#2維list
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'HTC'] 
home = [3, '冰箱', 2, '洗衣機']
all3c = [nb, mobile, home]

all3c[1][2]
all3c[2][3]

'洗衣機'

In [20]:
for items in all3c:
    for item in items:
        print(item)
    print("=====")

筆記電腦
商用筆電
=====
APPLE
ASUS
HTC
=====
3
冰箱
2
洗衣機
=====

In [21]:
#50個學生,5個分數
import random

students = []
for i in range(50):
    scores =[]
    for j in range(5):
        scores.append(random.randint(60,100))
    students.append(scores)

students

[[68, 83, 93, 69, 75],
 [66, 92, 93, 98, 93],
 [83, 71, 71, 81, 73],
 [68, 80, 79, 75, 83],
 [92, 91, 87, 100, 80],
 [83, 76, 71, 84, 97],
 [60, 79, 97, 67, 76],
 [99, 90, 97, 64, 71],
 [92, 90, 87, 62, 100],
 [78, 63, 86, 84, 100],
 [73, 67, 91, 86, 70],
 [85, 97, 70, 88, 73],
 [87, 72, 71, 90, 66],
 [66, 66, 91, 84, 87],
 [77, 78, 62, 85, 99],
 [75, 97, 60, 82, 79],
 [73, 93, 85, 89, 74],
 [89, 64, 87, 71, 66],
 [99, 96, 92, 64, 99],
 [92, 81, 98, 81, 76],
 [92, 92, 97, 83, 82],
 [64, 79, 68, 85, 62],
 [71, 62, 80, 72, 98],
 [62, 95, 99, 77, 76],
 [94, 97, 97, 81, 76],
 [81, 84, 95, 93, 83],
 [94, 69, 79, 75, 96],
 [78, 94, 68, 64, 91],
 [72, 100, 66, 82, 62],
 [64, 81, 64, 74, 80],
 [99, 85, 79, 97, 85],
 [79, 69, 97, 100, 87],
 [99, 97, 87, 66, 60],
 [88, 85, 86, 83, 87],
 [78, 71, 81, 78, 74],
 [92, 79, 83, 96, 87],
 [65, 96, 100, 71, 95],
 [76, 80, 89, 84, 68],
 [77, 63, 92, 73, 65],
 [93, 69, 87, 90, 69],
 [97, 82, 70, 78, 72],
 [92, 89, 76, 73, 92],
 [82, 82, 92, 93, 86],
 [86, 88, 62, 94, 73],
 [74, 86, 71, 96, 79],
 [86, 99, 94, 82, 92],
 [87, 65, 60, 91, 70],
 [94, 67, 91, 67, 66],
 [83, 60, 78, 71, 95],
 [89, 61, 72, 63, 60]]

In [22]:
#50個學生,5個分數
# _ 省略運算子
import random

students = []
for _ in range(50):
    scores =[]
    for _ in range(5):
        scores.append(random.randint(60,100))
    students.append(scores)

students

[[64, 99, 63, 97, 74],
 [88, 90, 75, 71, 77],
 [95, 95, 78, 74, 60],
 [87, 75, 68, 87, 73],
 [79, 75, 97, 83, 62],
 [68, 74, 90, 62, 66],
 [94, 61, 96, 97, 89],
 [93, 92, 81, 95, 70],
 [68, 73, 65, 88, 85],
 [87, 90, 89, 92, 66],
 [88, 84, 99, 96, 67],
 [65, 84, 79, 69, 98],
 [68, 88, 97, 64, 66],
 [90, 72, 91, 86, 64],
 [65, 80, 87, 74, 90],
 [76, 71, 66, 75, 75],
 [80, 77, 71, 97, 71],
 [96, 76, 81, 79, 90],
 [90, 86, 60, 73, 67],
 [81, 93, 79, 95, 73],
 [65, 78, 96, 65, 87],
 [60, 65, 81, 64, 78],
 [71, 78, 68, 73, 91],
 [76, 82, 89, 64, 67],
 [83, 93, 98, 61, 93],
 [66, 94, 93, 70, 87],
 [90, 68, 95, 81, 66],
 [64, 77, 84, 65, 96],
 [92, 74, 98, 91, 72],
 [77, 70, 64, 63, 87],
 [92, 76, 78, 72, 73],
 [67, 63, 95, 67, 76],
 [61, 70, 61, 97, 91],
 [64, 79, 81, 60, 64],
 [86, 99, 99, 78, 71],
 [97, 70, 96, 90, 75],
 [63, 80, 94, 78, 66],
 [68, 77, 60, 86, 82],
 [70, 70, 76, 98, 78],
 [77, 78, 89, 75, 82],
 [66, 83, 71, 80, 71],
 [75, 78, 70, 66, 69],
 [91, 94, 92, 83, 99],
 [73, 61, 76, 75, 82],
 [81, 87, 77, 83, 92],
 [64, 74, 67, 69, 95],
 [64, 80, 78, 61, 96],
 [71, 85, 87, 95, 78],
 [82, 77, 64, 64, 70],
 [68, 97, 89, 93, 82]]

In [28]:
studentId = 0
for stu in students:
    sum = 0
    studentId += 1
    print(f"學生{studentId}")
    for score in stu:
        sum += score
    print(f"學生分數:{scores},總分為:{sum},平均:{sum/5}")
    print("=========")

學生1
學生分數:[68, 97, 89, 93, 82],總分為:397,平均:79.4
=========
學生2
學生分數:[68, 97, 89, 93, 82],總分為:401,平均:80.2
=========
學生3
學生分數:[68, 97, 89, 93, 82],總分為:402,平均:80.4
=========
學生4
學生分數:[68, 97, 89, 93, 82],總分為:390,平均:78.0
=========
學生5
學生分數:[68, 97, 89, 93, 82],總分為:396,平均:79.2
=========
學生6
學生分數:[68, 97, 89, 93, 82],總分為:360,平均:72.0
=========
學生7
學生分數:[68, 97, 89, 93, 82],總分為:437,平均:87.4
=========
學生8
學生分數:[68, 97, 89, 93, 82],總分為:431,平均:86.2
=========
學生9
學生分數:[68, 97, 89, 93, 82],總分為:379,平均:75.8
=========
學生10
學生分數:[68, 97, 89, 93, 82],總分為:424,平均:84.8
=========
學生11
學生分數:[68, 97, 89, 93, 82],總分為:434,平均:86.8
=========
學生12
學生分數:[68, 97, 89, 93, 82],總分為:395,平均:79.0
=========
學生13
學生分數:[68, 97, 89, 93, 82],總分為:383,平均:76.6
=========
學生14
學生分數:[68, 97, 89, 93, 82],總分為:403,平均:80.6
=========
學生15
學生分數:[68, 97, 89, 93, 82],總分為:396,平均:79.2
=========
學生16
學生分數:[68, 97, 89, 93, 82],總分為:363,平均:72.6
=========
學生17
學生分數:[68, 97, 89, 93, 82],總分為:396,平均:79.2
=========
學生18
學生分數:[68, 97, 89, 93, 82],總分為:422,平均:84.4
=========
學生19
學生分數:[68, 97, 89, 93, 82],總分為:376,平均:75.2
=========
學生20
學生分數:[68, 97, 89, 93, 82],總分為:421,平均:84.2
=========
學生21
學生分數:[68, 97, 89, 93, 82],總分為:391,平均:78.2
=========
學生22
學生分數:[68, 97, 89, 93, 82],總分為:348,平均:69.6
=========
學生23
學生分數:[68, 97, 89, 93, 82],總分為:381,平均:76.2
=========
學生24
學生分數:[68, 97, 89, 93, 82],總分為:378,平均:75.6
=========
學生25
學生分數:[68, 97, 89, 93, 82],總分為:428,平均:85.6
=========
學生26
學生分數:[68, 97, 89, 93, 82],總分為:410,平均:82.0
=========
學生27
學生分數:[68, 97, 89, 93, 82],總分為:400,平均:80.0
=========
學生28
學生分數:[68, 97, 89, 93, 82],總分為:386,平均:77.2
=========
學生29
學生分數:[68, 97, 89, 93, 82],總分為:427,平均:85.4
=========
學生30
學生分數:[68, 97, 89, 93, 82],總分為:361,平均:72.2
=========
學生31
學生分數:[68, 97, 89, 93, 82],總分為:391,平均:78.2
=========
學生32
學生分數:[68, 97, 89, 93, 82],總分為:368,平均:73.6
=========
學生33
學生分數:[68, 97, 89, 93, 82],總分為:380,平均:76.0
=========
學生34
學生分數:[68, 97, 89, 93, 82],總分為:348,平均:69.6
=========
學生35
學生分數:[68, 97, 89, 93, 82],總分為:433,平均:86.6
=========
學生36
學生分數:[68, 97, 89, 93, 82],總分為:428,平均:85.6
=========
學生37
學生分數:[68, 97, 89, 93, 82],總分為:381,平均:76.2
=========
學生38
學生分數:[68, 97, 89, 93, 82],總分為:373,平均:74.6
=========
學生39
學生分數:[68, 97, 89, 93, 82],總分為:392,平均:78.4
=========
學生40
學生分數:[68, 97, 89, 93, 82],總分為:401,平均:80.2
=========
學生41
學生分數:[68, 97, 89, 93, 82],總分為:371,平均:74.2
=========
學生42
學生分數:[68, 97, 89, 93, 82],總分為:358,平均:71.6
=========
學生43
學生分數:[68, 97, 89, 93, 82],總分為:459,平均:91.8
=========
學生44
學生分數:[68, 97, 89, 93, 82],總分為:367,平均:73.4
=========
學生45
學生分數:[68, 97, 89, 93, 82],總分為:420,平均:84.0
=========
學生46
學生分數:[68, 97, 89, 93, 82],總分為:369,平均:73.8
=========
學生47
學生分數:[68, 97, 89, 93, 82],總分為:379,平均:75.8
=========
學生48
學生分數:[68, 97, 89, 93, 82],總分為:416,平均:83.2
=========
學生49
學生分數:[68, 97, 89, 93, 82],總分為:357,平均:71.4
=========
學生50
學生分數:[68, 97, 89, 93, 82],總分為:429,平均:85.8
=========

In [29]:
#增加元素
citys = ['台北', '台中', '高雄']
citys.append('台南')
citys

['台北', '台中', '高雄', '台南']

In [30]:
others = ['花蓮','台東']
citys.extend(others)
citys

['台北', '台中', '高雄', '台南', '花蓮', '台東']

In [31]:
citys = ['台北', '台中', '高雄', '台南', '花蓮']
citys += ['花蓮','台東']
citys

['台北', '台中', '高雄', '台南', '花蓮', '花蓮', '台東']

In [32]:
citys = ['台北', '台中', '高雄']
citys.insert(0,'台南')
citys

['台南', '台北', '台中', '高雄']

In [33]:
citys.remove('台北')
citys

['台南', '台中', '高雄']

In [34]:
citys.pop()
citys

['台南', '台中']

In [35]:
citys = ['台北', '台中', '高雄']
citys.pop(0)
citys

['台中', '高雄']

In [36]:
citys.clear()
citys

[]